{% extends "base.html" %}
{% block title %}Add Rental{% endblock %}
{% block content %}
	<div class="container flex">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				
				<h2 class="mb-4 mt-4">Add Rental</h2>
		<form method="post">{% csrf_token %}
			
			<div class="form-group">
				<label for="customer_id">Customer</label>
				<select class="form-control" id="customer_id" name="customer_id">
					
					{% for customer in customers %}
						<option value="{{customer.id}}">{{customer.first_name}} {{customer.last_name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="vehicle_id">Vehicle ID</label>
				<select class="form-control" id="vehicle_id" name="vehicle_id">
					
					{% for vehicle in unrented_list %}
						<option value="{{vehicle.id}}">{{vehicle.id}}</option>
					{% endfor %}
				</select>
			</div>
			<button class="btn btn-lg btn-secondary" type="submit">submit</button>
		</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
{% endblock %}