<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{% url 'all_rentals' %}">Rental</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">

					<li class="nav-item dropdown ml-4">
						<a class="nav-link dropdown-toggle" href="#" id="vehicleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Vehicles
						</a>
						<div class="dropdown-menu" aria-labelledby="vehicleDropdown">
							<a class="dropdown-item" href="{% url 'all_vehicles' %}">View all Vehicles</a>
							<a class="dropdown-item" href="{% url 'add_vehicle' %}">Add Vehicle</a>
						</div>
					</li>

					<li class="nav-item dropdown ml-4">
						<a class="nav-link dropdown-toggle" href="#" id="rentalDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Rentals
						</a>
						<div class="dropdown-menu" aria-labelledby="rentalDropdown">
							<a class="dropdown-item" href="{% url 'all_rentals' %}">View all Rentals</a>
							<a class="dropdown-item" href="{% url 'add_rental' %}">Add Rental</a>
						</div>
					</li>

					<li class="nav-item dropdown ml-4">
						<a class="nav-link dropdown-toggle" href="#" id="customerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Customers
						</a>
						<div class="dropdown-menu" aria-labelledby="customerDropdown">
							<a class="dropdown-item" href="{% url 'all_customers' %}">View all Customers</a>
							<a class="dropdown-item" href="{% url 'add_customer' %}">Add Customer</a>
						</div>
					</li>



					<li class="nav-item dropdown ml-4">
						<a class="nav-link dropdown-toggle" href="#" id="stationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Stations
						</a>
						<div class="dropdown-menu" aria-labelledby="stationDropdown">
							<a class="dropdown-item" href="{% url 'all_stations' %}">View all Stations</a>
							<a class="dropdown-item" href="{% url 'add_station' %}">Add Station</a>
						</div>
					</li>


				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		{% block content %}{% endblock %}
	</body>
</html>