{% extends "base.html" %}
{% block title %}Vehicle #{{vehicle.id}}{% endblock %}
{% block content %}
	<div class="container flex">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<h3 class="mt-4 mb-4">Vehicle Info</h3>
					<h3>Vehicle details:</h3>
					<ul>
						<li>ID: {{vehicle.id}}</li>
						<li>Type: {{vehicle.vehicle_type.name}}</li>
						<li>Size: {{vehicle.size.name}}</li>
						<li>Real Cost: {{vehicle.real_cost}}</li>
					</ul>
					
					{% if not active %}
						<h3>Vehicle is at <a href="linktostation">{{vehicle_at_station.rental_station.name}}</a></h3>
					{% else %}
						<h3> Vehicle was rented {{vehicle.rental_set.last.rental_date | timesince }} ago <br>from <a href="{% url 'station' vehicle_at_station.rental_station.id%}">{{vehicle_at_station.rental_station.name}}</a><br> by {{vehicle.rental_set.last.customer.first_name}}  {{vehicle.rental_set.last.customer.last_name}}</h3>
					{% endif %}
			</div>
			<div class="col-3"></div>
		</div>
	</div>

{% endblock %}