.container{
	display: grid;
	height: 100vh;
	width: 100vw;



	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 5px;
	grid-template-areas: 
	"One One One"
	"Two Three Four"
	"Two Five Five"
	"Six Six Seven"
	"Eight Eight Eight";
}


.One{
	grid-area: One;
	background-color: maroon;
	text-align: center;
	color: white;
	font-size: 40px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.Two{
	grid-area: Two;
	background-color: mediumpurple;
	text-align: center;
	color: white;
	font-size: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.Three{
	grid-area: Three;
	background-color: blueviolet;
	text-align: center;
	color: white;
		font-size: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.Four{
	grid-area: Four;
	background-color: lightseagreen;
	text-align: center;
	color: white;
	font-size: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.Five{
	grid-area: Five;
	background-color: deeppink;
	text-align: center;
	color: white;
	font-size: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.Six{
	grid-area: Six;
	background-color:maroon;
	text-align: center;
	color: white;
	font-size: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.Seven{
	grid-area: Seven;
	background-color: mediumpurple;
	text-align: center;
	color: white;
	font-size: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.Eight{
	grid-area: Eight;
	background-color:blueviolet;
	text-align: center;
	color: white;
	font-size: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

