{% extends "base.html" %}
{% load static %}
{% block title %} {{user.profile.employed_by.name}} {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/tester.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/myCSS.css' %}">
<link rel="stylesheet" href="{% static 'accounts/js/resizeJS.js' %}">
 {% endblock %}
{% block content %}




{#<!-- Main Page Section> -->#}
<div class="container-fluid d-flex justify-content-end" style="background-color: gainsboro; display: flex; height: 100vh; width: 100vw;">
  <div class="row">
          {#<!-- Left half of page -->#}
              <div class="col-sm col-md col-xl flex-column d-flex align-items-stretch" style="border: darkcyan 10px solid; width: 100vw;">
                <div class="row d-flex flex-column" style="background-color: white;">
                    <h1 style="text-align: center;">Hello {% block name %} {{user.username}}  {% endblock %} welcome back</h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
<br>
                <div class="row d-flex flex-column" style="background-color: wheat;">
                  <h1 style="text-align: center; background-color: #f8d490;">Personal Notepad</h1>
                  {% include 'notePopup.html' with noteForm=f %}
                  {%for notes in user.profile.notes.note_set.all%}
                  <br>
                  <br>
                  <br>
                  <br>
                  {%endfor%}
                  <br>
                  <br>
                </div>
            </div>



            {#<!-- Right half of page -->#}
          <div class="panel-body panel-resizable position-fixed-right car">

            {#<!--This is the Add Client code -->#}
            <div class="row align-items-end" style="background-color: #95A5A6;">
              {% include 'clientPopup.html' with clientForm=f %}
            </div>




            {#<!--Print all Clients -->#}
              {%for client in user.profile.employed_by.client_set.all%}
              <div class="list-group overflow-auto" style="width: 18rem;">
                  <div class="cardStyle">
                    <h5 class="card-title">{{client.name}}</h5>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
              {%endfor%}
          </div>
  
              </div>
          </div>
  </div> 
</div>




{% endblock %}